<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{fragments/head :: head}"></div>

<body>

    <div th:replace="~{fragments/header :: header}"></div>

    <div class="container-fluid full-height">
        <div class="text-left">        
            <h2>Products in Cart</h2>
            <br>
        
            <ul>
                <li th:each="entry : ${cartProducts}">
                    <span>Id: <span th:text="${entry.key}"></span> - </span>
                    <span>Name: <span th:text="${entry.value.name}"></span> - </span>
                    <span>Price: <span th:text="${entry.value.price}"></span></span>
                </li>
            </ul>
        
            <a th:href="@{/cart/removeAll}">Remove all products from cart</a>
        </div>    
     
    </div>
    
    <div th:replace="~{fragments/footer :: footer}"></div>
</body>

</html>