<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{fragments/head :: head}"></div>

<body>
    <div th:replace="~{fragments/header :: header}"></div>
    <div class="container-fluid full-height">
        <div class="row justify-content-center w-100">
            <div class="col-md-6 col-lg-4">
                <div class="card shadow-lg">
                    <div class="card-header bg-gray text-center">Create Product</div>
                    <div class="card-body p-4">
                        <form th:action="@{/products}" method="post"> 
                            <label class="form-label" for="name">Name:</label>   
                            <input class="form-control" type="text" id="name" name="name"/><br><br>
                            <label class="form-label" for="price">Price:</label>
                            <input class="form-control" type="number" id="price" name="price"/><br><br>
                            <button class="btn btn-primary" type="submit">Save</button> 
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="~{fragments/footer :: footer}"></div>
</body>

</html>