<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{fragments/head :: head}"></div>

<body>

    <div th:replace="~{fragments/header :: header}"></div>


    <div class="container-fluid full-height bg-primary">

        <div class="text-center">

            <h1 class="display-1 mt-5 text-white">Welcome to Herzon</h1>
            <div class="mt-5">
                <a class="btn btn-primary bg-secondary text-primary fw-bold" th:href="@{/offers}">Check our offers</a>
                <a class="btn btn-primary bg-secondary text-primary fw-bold" th:href="@{/offers/create}">Create an offer</a>
            </div>

        </div>

    </div>


    <div th:replace="~{fragments/footer :: footer}"></div>

</body>

</html>